.TodoList {
  margin-top: 200px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: -5px;
    left: 13%;
    width: 70%;
    height: 107%;
    border: 2px solid rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    z-index: -1;
    transition: all 0.3s ease-out;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.027);
  }
}

.TodosContainer {
  margin-top: 10px;
}

.Todo, .TodoEdit {
  margin-top: 5px;
}

@media (max-width: 992px) {
  body,html, #root {
    background: rgba(0, 0, 0, 0.027);
  }
  .TodoList::after {
    display: none;
  }
}